.ceditor {
  display: flex;
  flex-flow: column;
  user-select: none;
  cursor: pointer;
}

.ceditor .ce-board {
  flex: 1 0 0;
}

.free-pieses {
  flex: 1 0 0;
  display: flex;
}

.free-pieses .piese {
  flex: 1 0 0;
  aspect-ratio: 1/1;
  background-size: contain;
}



