.ceditor {
  aspect-ratio: 1/1;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  user-select: none;
  cursor: pointer;
}

.ceditor .ce-board {
}

.free-pieses {
  display: flex;
}

.free-pieses .piese {
  flex: 1 0 0;
  aspect-ratio: 1/1;
  background-size: cover;
  pointer-events: none;
}



