.cidea {
  display: flex;
  flex-flow: row;
}

.cidea .editor-side {
  display: flex;
  flex: 1 0 0;
}

.cidea .editor-wrap {
  position: relative;
  flex: 2 0 0;
  user-select: none;
  cursor: pointer;
}


.vert-pieses {
  flex: 1 0 0;
  display: flex;
  flex-flow: column;
}

.vert-pieses .tab {
  flex: 1 0 0;
}

.vert-pieses .piese {
  aspect-ratio: 1/1;
  background-size: cover;
  pointer-events: none;
}



