.chessanalysis23 {
}

h3 {
  padding: 0;
  margin: 0;
}

.ideas {
  display: flex;
  flex-flow:row;
}

.puzzles {
  display: flex;
}

.idea-wrap {
  width: 300px;
}

.board-wrap {
  position: relative;
  width: 300px;
}

.replay-wrap {
  position: relative;
  width: 300px;
}
