body {
  height: 100vh;
}

#app {
  height: 100%;
}

.chessanalysis23 {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.ideas,
.puzzles {
  width: 100%;
  flex: 1;
  height: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

.ideas, .puzzles {
  display: flex;
  flex-flow:row;
  justify-content: center;
}

.ideas .tabs,
.puzzles .tabs {
  width: 80%;
}

.puzzles_in {
  display: flex;
  flex-flow: column;
}

.puzzles_in .buttons {
  align-self: flex-end;
}

.idea-wrap {
  width: 300px;
}

.board-wrap {
  position: relative;
  width: 260px;
}

.replay-wrap {
  position: relative;
  width: 300px;
}
